.imgGen {
  -webkit-box-shadow: -1px 0px 23px 8px rgba(34, 60, 80, 0.28);
  -moz-box-shadow: -1px 0px 23px 8px rgba(34, 60, 80, 0.28);
  box-shadow: -1px 0px 23px 8px rgba(34, 60, 80, 0.28);
}
.firstImg {
  width: 90%;
  height: 90%;
  border-radius: 10px;
}

.secondImg {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.thirdImg {
  width: 100%;
  height: 10%;
  border-radius: 10px;
}

.forthImg {
  margin-top: 30px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.gPageInfoCont {
  padding-left: 20px;
  padding-top: 20px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.infoTxt {
  font-size: 1.2em;
  text-align: center;
}

.textCont {
  display: grid;
  place-content: center;
}

.introductionCont {
  margin: 20px;
}

.lastGPageInfoCont {
  margin: 30px;

  display: grid;
  place-items: center;
}

/* * {
  border: 1px solid red;
} */

.step {
  text-align: center;
  margin: 15px;
  font-size: 1.4em;
}
#fontBold {
  font-weight: bold;
}

#stepOne {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

#suggestRegistrLink {
  color: black;
  padding: 2px;
}
