/* .wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-auto-rows: 100px;

  border: solid red 1px;
} */

/* .folderItem:hover {
  color: grey;
}

.icon {
  color: black;
} */
